<body>
    <div class="container">
      <h1>About me</h1>
      <div class="row">
        <div class="col-sm-3">
          <img class="pic" src="../../assets/Mirror.jpg" alt="my pic">
        </div>
        <div class="col-sm-9">
          <p>
            Hi, I am Sfiso Mauro Ndzobo from Johannesburg, Gauteng, South Africa.
            I am a motivated and adaptable developer with strong software development skills and a solid understanding of data analytics.
            I apply the technical expertise and professional skills I have gained through my education and experience in the industry. I have a strong drive to see projects through to completion and a keen eye for detail. My experience has improved my organizational abilities, and I am eager to share my knowledge while learning from others.
          </p>
 
        </div>
      </div> <hr>
 
      <h1>Skills</h1>
 
      <div class="row">
        <div class="col-sm">
          <img src="../../assets/html.png" alt="">
          <h5>HTML</h5>
 
        </div>
        <div class="col-sm">
          <img src="../../assets/javascript.png" alt="">
          <h5>JavaScript</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/angular.png" alt="">
          <h5>Angular2+</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/c++.png" alt="">
          <h5>C++</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/css.png" alt="">
          <h5>CSS</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/postgres.png" alt="">
          <h5>PostgreSQL</h5>
        </div>
      </div>
      <br> <br>
 
      <div class="row">
        <div class="col-sm">
          <img src="../../assets/node.png" alt="">
          <h5>NodeJS</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/git.png" alt="">
          <h5>Git</h5>
 
        </div>
 
     
        <div class="col-sm">
        <img src="../../assets/bootstrap.png" alt="">
        <h5>Bootstrap</h5>
      </div>
 
        <div class="col-sm">
          <img src="../../assets/python-logo.png" alt="">
          <h5>Python</h5>
        </div>
 
      </div>

      <div class="col-sm">
        <img src="../../assets/oracle-6-logo-png-transparent.png" alt="">
        <h5>Oracle</h5>
      </div>
 
      <hr>
 
 
 
      <h1>Education & Certifications</h1>
 
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h4>Tshwane University of Technology</h4>
          </div>
 
          <div class="col-sm-8">
            <h5>Adavanced Diploma in Computer Sciences</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2024 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
            <p>
              - Data Structures and Algorithms using Java <br>
              - Principles of Design and how humans interact with systems <br>
              - Introduction to Data Sciences <br>
              - Software Engineering <br>
              - Service-Oriented Programming <br>
              - Thoretical Computer Sciences <br>
              - Distributed Programming
            </p>
 
            <br>
 
            <h5>National Diploma in Software Development</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2019 - Dec  2023</h6>
            <p>
              - C++ Object Oriented Programming <br>
              - System Analysis and Design <br>
              - Oracle SQL and PL/SQL <br>
              - Cisco Network+ <br>
              - CompTia A+ <br>
              - UML Diagrams <br>
              - Project Management <br>
              - Information Systems <br>
              - Database Design, Implementation and Design
            </p>
          </div>
        </div>
 
        <br> <br>
 
      <div class="row">  
        <div class="col-sm-4">
          <h4>Oracle</h4>
        </div>
 
        <div class="col-sm-8">
          <h5>Oracle Cloud Infrastructure 2022 Certified Foundations Associate</h5>
          <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2023 </h6>
          <p>
            - The course enhances skills in using Oracle tools to build and maintain scalable cloud solutions. <br>
            - It includes key concepts like networking, storage, and security within Oracle Cloud environments. <br>
            - This certification covers a comprehensive understanding of Oracle's cloud infrastructure and the effective management and deployment of cloud services. <br>
          </p>

          <br>

          <h5>Oracle Cloud Data Management 2022 Foundations Certified Associate</h5>
          <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2023 </h6>
          <p>
            - This certification provides a solid understanding of how to develop and deploy applications using Oracle Cloud services. <br>
            - It covers key concepts like APIs, microservices, and serverless architectures within the Oracle Cloud platform. <br>
            - It offers hands-on experience with Oracle’s development tools, helping to create scalable cloud-based solutions. <br>
          </p>

          
        </div>

      </div>
 

 
      <hr>
 
      <h1>Work Experience</h1>
     
 
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h4>Pitch Digital Agency</h4>
          </div>
 
          <div class="col-sm-8">
            <h5>Junior Developer</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2023 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
            <p>
              - Creating web applications with JavaScript, HTML, CSS, PHP, CRM Management <br>
              - Involved in the full software/application development lifecycle, including designing, coding, testing, and deploying applications. <br>
              - Engaged in SEO best practices and web development projects, enhancing site performance and user experience. <br>
              - Server set up and configurations
            </p>
          </div>
        </div>
        <br> <br>
        <div class="row">
          <div class="col-sm-4">
            <h4>Arrow M&S</h4>
          </div>
 
          <div class="col-sm-8">
            <h5> Software Engineer Intern</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2023 - May 2023</h6>
            <p>
              - Gained hands-on experience with data pipelines, ETL processes, and database management. <br>
              - Utilized Azure and MS platforms for cloud-based solutions, focusing on MVC architecture and server management. <br>
              - Creating REST APIs using Express and NodeJS <br>
              - Deploying applications <br>
              - Using Microsoft Power BI Designed dynamic dashboards and reports.<br>
              - Using PostgreSQL and MongoDB for Database
            </p>
          </div>
        </div>
      </div>
 
      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-4">
            <h4>JAM Clothing</h4>
          </div>
 
          <div class="col-sm-8">
            <h5>Stockroom Merchandiser</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2016 - Jan 2018</h6>
            <p>
              - Recieving stock and transfering stock to and from head office and other stores<br>
              - Packing stork in the warehouse in an accessible way <br>
              - Capturing stock in the system <br>
              - Doing stock takes
            </p>
          <br>
            <h5>Store Assistant</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2014 - Apr 2016</h6>
            <p>
              - Cashier <br>
              - Packing stock <br>
              - Perfroming customer service <br>
              - Merchandising clothes on the floor <br>
              - Cleaning the shop <br>
              - Doing stock takes
            </p>
          </div>
        </div>
      </div>
 
     
     
   
      </div>
    </div>
 
    <hr>
   
  <br>
 
   
</body>
 

   
