<body>
   
  <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="../../assets/kisspng-computer-programming-software-developer-openvpn-eu-5d42a776e01df1.037503031564649334918.png" alt="">
        </div>
 
 
        <div class="col-sm-8">

          <div class="upRight">

     
        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue "></i>Johannesburg, Gauteng, South Africa</p>
        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue "></i>sfiso.ndzobo@gmail.com</p>
        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-blue "></i>072 527 0814</p>
       
        <p class="w3-text-blue "> <i class="fa fa-linkedin hr fa-xlarge fa-fw w3-margin-right"> </i> <a href="http://www.linkedin.com/in/Sfiso-Ndzobo">Sfiso Ndzobo</a>  </p>
        <hr>

          </div>

          <h1>Send messege</h1>
          <form action="https://formsubmit.co/sfiso.ndzobo@gmail.com" method="POST">
              <div class="mb-3">
                  <label for="Name" class="form-label">Name</label>
                  <input type="text" name="name" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="Number" class="form-label">Cell number</label>
                  <input type="text" class="form-control" id="Number" name="cell number">
                </div>
              <div class="mb-3">
                <label for="" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="messege" class="form-label">Message</label>
                <input type="text" name="message" class="form-control" id="exampleInputPassword1">
              </div>
             
              <button type="submit" class="btn btn-primary">Send Messege</button>
            </form>
 
        </div>
      </div>
      <hr>
    </div>
</body>