

<body>
    
    <div class="container">
        <div class="row">
          <div class="col-sm-7">

            <h1>Projects</h1>

            

            <a href="https://github.com/Sfiso0808/My-Calculator-Project"> <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/calc.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                       <h5 class="card-title">Calculator Web Application</h5> 
                      <p class="card-text"> Simple free to use web Calculator, using javascript Css & Html.

                      </p>
                   
                    </div>
                  </div>
                </div>
              </div> </a>

            <a href=""> <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                <img src="../../assets/Vet.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                     <a href=""> <h5 class="card-title">Doctor Appointment</h5> </a>
                      <p class="card-text">If you are looking to book an appointment for your animal, look no further because this app allows you to book for a doctor at the comfort of your home.</p>
                  
                    </div>
                  </div>
                </div>
              </div> </a>

              <a href="https://github.com/Sfiso0808/Ai-Python-Project" target="_blank">  <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                   <img src="../../assets/code.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Ai Emotion Detection </h5>
                      <p class="card-text">This AI-powered app analyses facial expressions using Python to detect and classify emotions in real-time, offering a fun and interactive way to explore AI's capabilities in understanding human emotions</p>
                     
                    </div>
                  </div>
                </div>
                
              </div>   </a>
    
          </div>


          <div class="col-sm-5">
            <img src="../../assets/construction1.png" alt="">
          </div>
        </div>
      </div>

    
      <!-- <app-footer></app-footer> -->
</body>



