<body>
  

<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" (click)="goHome()"><h1>SM</h1></a>
  
  <div class="container-fluid">
  </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" (click)="goAbout()">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goProjects()">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goContacts()">Contact</a>
        </li>
        <li class="nav-item">
           <button type="button"  class="btn btn-outline-light a-download">
             <a href="../../assets/sfiso ndzobo.pdf" download>Resume</a>
           </button>
        </li>
      </ul>
    </div>
  </nav>

<app-home *ngIf="home"></app-home>
<app-about *ngIf="about"></app-about>
<app-contacts *ngIf="contacts"></app-contacts>
<app-projects *ngIf="projects"></app-projects>
<app-footer></app-footer>
</body>