    <!-- <app-nav></app-nav> -->
    <body>
      <div class="con1">
        <div class="container">
            <div class="row">
              <div class="col-sm-8  mt-5">
       
                <h1>Hi there, I'm Sfiso Ndzobo</h1>
                <p>I am a Software Developer with, a comprehensive understanding of data analytics</p>
   
                <div class="social d-flex justify-content-center">
                  <h2 class="w3-text-blue "> <a href="https://github.com/Sfiso0808"><i class="fa fa-github hr fa-xlarge fa-fw w3-margin-right"></i></a>  </h2>
   
                <h2 class="w3-text-blue "> <a href="http://www.linkedin.com/in/Sfiso-Ndzobo"><i class="fa fa-linkedin hr fa-xlarge fa-fw w3-margin-right"></i></a>  </h2>
                </div>
               
              </div>
              <div class="col-sm-4 mt-4">
                <img src="../../assets/sfiso.png">
              </div>
            </div>
           
        </div>
 
    </div>
 
    </body>
 
    <!-- <app-footer></app-footer> -->